.bc-main-content {
  border: 0.1em solid black;
  background-color: var(--MainComponentBackgroundColor);
  border-radius: var(--MainBorderRadius);

  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;

  padding-bottom: 0.5em;
}

.bc-name-header {
  background-color: var(--MainColor);
  border-bottom: 0.1em solid black;

  text-align: center;

  width: 100%;
}

.bc-info {
  margin-left: 0.2em;
  font-family: Helvetica;
  list-style-type: none;
}
