.tb-main {
  background-color: var(--MainColor);
  min-width: var(--TopBarWidth);
  min-height: var(--TopBarHeight);

  display: flex;
  flex-direction: row;

  border-bottom-left-radius: var(--MainBorderRadius);
  border-bottom-right-radius: var(--MainBorderRadius);
}

.tb-pagebutton {
  background-color: var(--MainColor);
  min-height: 100%;
  border-radius: var(--MainBorderRadius);
  margin-left: 1em;
  border: none;

  align-self: center;
  font-family: Helvetica;
  font-size: large;
}

.tb-pagebutton:hover {
  filter: brightness(85%);
  cursor: pointer;
}
