:root {
  /* General variables */
  --MainColor: #ff5147;
  --MainComponentBackgroundColor: #d3d3d3;
  --MainBorderRadius: 0.28em;

  /* Top bar variables */
  --TopBarWidth: 100vw;
  --TopBarHeight: 3em;

  /*SideBar variables */
  --SideBarWidth: 20%;
  --SideBarHeight: calc(100vh - var(--TopBarHeight));
}
